body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(214, 118, 118);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 2rem;
}

.container {
  width: 350px;
  height: 600px;
  background-color: rgb(37, 37, 78);
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  display: flex;
  flex-direction: row;
}

.containerNums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerOps {
  display: flex;
  flex-direction: column;
}

.display {
  padding-right: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 330px;
  height: 170px;
  background: rgb(47, 47, 87);
  border-radius: 10px;
  font-size: 2.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.textDisplay {
  width: 250px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.expression,
.resultDisplay {
  height: 40px;
  width: 300px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

button {
  width: 87.5px;
  height: 83.1px;
  padding: 0;
  border: 0px;
  background: rgb(37, 37, 78);
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 5px;
}

.btnZero,
.btnEqual {
  flex-grow: 1;
}

.btnEqual {
  background: rgb(214, 118, 118);
}
